

.navbar-default {
    background-color: white;
    border: 0;
   	margin-top: 3%;
   	margin-left: 8%;
   	margin-right: 8%;
}

.navbar-default .navbar-brand {
	font-size: 2.1em;
	color: black;

}

.navbar-default .navbar-nav{
	padding-right: 0px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 1.6em;
	margin-left: 35px;
	margin-right: 0px;
	padding-right: 0px;
}

.navbar-default .navbar-nav>li>a:hover{
    text-decoration-color: #197319;
}

#active{
	font-weight: 500;
	color: #3151B7
}

.row{
	margin-left: 8%;
	margin-right: 8%;
}

body{
	font-family: "Open Sans", "Helvetica", 'Catamaran', sans-serif;
	font-weight: 300;
	height: 100%;
	background-color: white;
	margin-top: 25px;
	color: #3f3f3f;

}


h1{
	margin-top: 8%;
	font-size: 2.4em;
	font-weight: 500;
	color: #3151B7;
}



#intro{
	font-size: 1.6em;
	margin-top: 3%;
	max-width: 88%;
	margin-bottom: 30px;
}

.caption1{
	width: 100%;
	text-align: left;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 0px;
	color: black;
}

.caption2{
	width: 100%;
	text-align: left;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: black;
}

.card {
    /* create the card effect */
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    margin: 0px;
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.2);
    transform: scale(1.03);
}

.row a:hover{
	text-decoration: none;
}

.container1 {
    padding: 2px 16px;
}

#projects{
	margin-top: 10px;
}

#about{
	margin-top: 100px;
}

.rightcol{
	padding-left: 40px;
}

#footer{
	margin-top: 90px;
	text-align: center;
	font-size: 1.2em;
}



